<template>
  <div id='account' class="container-fluid">
    <ul class="list-group">
      <li class="list-group-item">Username</li>
      <li class="list-group-item">Gender</li>
      <li class="list-group-item">Email</li>
      <li class="list-group-item">Reset Password</li>
      <li class="list-group-item">Change Password</li>
      <li class="list-group-item"><input type="submit" class="btnSubmit" value="Log Out" /></li>
    </ul>
    <Navbar />
  </div>
</template>

<script>
  import Navbar from './Navbar.vue'

  export default {
    name: 'Account',
    components: {
      Navbar
    },
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
        }
      },
  }
</script>

<style scoped>
.list-group-item{
  position: static;
  border: none;
  font-size: 1rem;
  width: 100%;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
</style>

