<template>
  <div id='addnewbook' class="container-fluid">
    <div class="d-flex">
      <h1><i class="fas fa-angle-left"></i> Add New Book</h1>
    </div>  
    <br>
    <b-row>
      <b-col class="border border-dark">Book Title</b-col>
      <b-col class="border border-dark" cols='8'>
        <b-form-input type="text" v-model="addBookForm.title" placeholder="Title" value="" />
      </b-col>
    </b-row>
    <b-row>
      <b-col class="border border-dark">Author</b-col>
      <b-col class="border border-dark" cols='8'>
        <b-form-input type="text" v-model="addBookForm.author" placeholder="Author" value="" />
      </b-col>
    </b-row>
    <b-row>
      <b-col class="border border-dark">Youtube ID</b-col>
      <b-col class="border border-dark" cols='8'>
        <b-form-input type="text" v-model="addBookForm.youtubeID" placeholder="Youtube ID" value="" />
      </b-col>
    </b-row>
    <b-row>
      <b-col class="border border-dark">Duration</b-col>
      <b-col class="border border-dark" cols='8'>
        <b-form-input type="text" v-model="addBookForm.duration" placeholder="Duration" value="" />
      </b-col>
    </b-row>
    <b-row>
      <b-col class="border border-dark">Genre</b-col>
      <b-col class="border border-dark" cols='8'>
        <b-form-input type="text" v-model="addBookForm.genre" placeholder="Genre" value="" />
      </b-col>
    </b-row>
    <b-row>
      <b-col class="border border-dark">Status</b-col>
      <b-col class="border border-dark" cols='8'>
        <b-form-input type="text"  placeholder="Status" value="" />
      </b-col>
    </b-row>
    <b-row>
      <b-col class="border border-dark">Created Date</b-col>
      <b-col class="border border-dark" cols='8'>
        <b-form-input type="text" placeholder="Created Date" value="" />
      </b-col>
    </b-row>
    <b-row>
      <b-col class="border border-dark">Created By</b-col>
      <b-col class="border border-dark" cols='8'>
        <b-form-input type="text" placeholder="Created by" value="" />
      </b-col>
    </b-row>
    <b-row>
      <b-col class="border border-dark">Modified Date</b-col>
      <b-col class="border border-dark" cols='8'>
        <b-form-input type="text" placeholder="Modified Date" value="" />
      </b-col>
    </b-row>
    <b-row>
      <b-col class="border border-dark">Modified By</b-col>
      <b-col class="border border-dark" cols='8'>
        <b-form-input type="text"  placeholder="Modified By" value="" />
      </b-col>
    </b-row>
    <b-row>
      <b-col class="border border-dark">Book Review</b-col>
      <b-col class="border border-dark" cols='8'>
        <b-form-input type="text" v-model="addBookForm.review" placeholder="Review" value="" />
      </b-col>
    </b-row>
    <br>
    <b-button-group>
      <b-button type="submit" variant="success" @click="onSubmit">Submit</b-button>
    </b-button-group>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'AddNewBook',
    data () {
      return {
        addBookForm: {
          title: '',
          author: '',
          youtubeID: '',
          duration: '',
          genre: '',
          status: 'individual',
          created_date: 'NA',
          created_by: 'NA',
          modified_date: 'NA',
          modified_by: 'NA',
          review: '',
          },
        msg: ''
      }
    },
    methods: {
      addBook(payload) {
      const path = 'http://183.91.11.56:5000/add';
      axios.post(path, payload)
        .then(() => {
          this.message = 'Item added!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
        });
      },
      initForm() {
        this.addBookForm.title = '';
        this.addBookForm.author = '';
        this.addBookForm.youtubeID = '';
        this.addBookForm.duration = '';
        this.addBookForm.genre = '';
        this.addBookForm.status = '';
        this.addBookForm.created_date = '';
        this.addBookForm.created_by = '';
        this.addBookForm.modified_date = '';
        this.addBookForm.modified_by = '';
        this.addBookForm.review = '';
      },
      onSubmit(evt) {
        evt.preventDefault();
        const payload = {
          title: this.addBookForm.title,
          author: this.addBookForm.author,
          youtubeID: this.addBookForm.youtubeID,
          duration: this.addBookForm.duration,
          genre: this.addBookForm.genre,
          status: this.addBookForm.status,
          created_date: this.addBookForm.created_date,
          created_by: this.addBookForm.created_by,
          modified_date: this.addBookForm.modified_date,
          modified_by: this.addBookForm.modified_by,
          review: this.addBookForm.review,
        };
        this.addBook(payload);
      },
    }
  }
</script>

<style scoped>

</style>
