<template>
  <div id='adminmenu' class='container-fluid'> 
    <div class="d-flex">
      <h1>Main Menu</h1>
    </div>  
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class='col d-flex'><i class="fas fa-circle"></i></div>
        <div class='col-10 d-flex'>Create New Books</div>
        <div class='col'><i class="fas fa-angle-right"></i></div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class='col d-flex'><i class="fas fa-circle"></i></div>
        <div class='col-10 d-flex'>View Libraries</div>
        <div class='col'><i class="fas fa-angle-right"></i></div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class='col d-flex'><i class="fas fa-circle"></i></div>
        <div class='col-10 d-flex'>Approve Requested Books</div>
        <div class='col'><i class="fas fa-angle-right"></i></div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class='col d-flex'><i class="fas fa-circle"></i></div>
        <div class='col-10 d-flex'>Manage Users</div>
        <div class='col'><i class="fas fa-angle-right"></i></div>
      </li>
    </ul>
    <Navbar />
  </div>
</template>

<script>

  export default {
    name: 'AdminMenu',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    },
  }
</script>

<style scoped>
.list-group-item{
  position: static;
  border: none;
  font-size: 1rem;
  width: 100%;
}
</style>
