<template>
  <div class="container-fluid navbar fixed-bottom justify-content-center">
    <div class="row">
      <div class="col">
        <a class='nav-link' href="/userhomepage"><i class="fas fa-home"></i></a>
      </div>
      <div class="col">
        <a class='nav-link' href="/usermenu"><i class="fas fa-bars"></i></a>
      </div>
      <div class="col">
        <a class='nav-link' href="/account"><i class="fas fa-user-circle"></i></a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Navbar',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
        }
      },
  }
</script>

<style scoped>
.navbar {
  background-color: white;
}

.row {
  width: 100%;
}

.col {
  font-size: 1.3rem;
  }

.fas {
  color: black;
}
</style>
