<template>
  <div id='player' class='custom container-fluid h-100'>
    <div class='d-flex align-items-center justify-content-center top-bar'>
      <div class='justify-content-start col d-flex'><i class="fas fa-angle-left"></i></div>
      <div class='justify-content-end col d-flex'><i class="fas fa-info-circle"></i></div>
    </div>
    <div class="body">
      <div class="youtube-responsive-container">
        <!--
        <div class="hide">
          <img src='https://img.youtube.com/vi/S67WVAQlJik/hqdefault.jpg' alt='Book Cover'>
        </div>
        -->
        <iframe src="https://www.youtube.com/embed/S67WVAQlJik" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center bottom-bar">
      <div class='justify-content-center col d-flex'><i class="fas fa-bookmark"></i></div>
      <div class='justify-content-center col d-flex'><i class="fas fa-heart"></i></div>
      <div class='justify-content-center col d-flex'><i class="fas fa-download"></i></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Player',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
        }
      },
  }
</script>

<style scoped>

.custom {
  position: fixed;
  bottom: 0;
  z-index: -1;
  background-color: black;
}

.youtube-responsive-container {
  position: relative;
  bottom: 0;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 100%;
  overflow: hidden;
  }

.youtube-responsive-container iframe, .youtube-responsive-container object, .youtube-responsive-container embed {
  position : absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }


.hide {
  position: absolute;
  width: 100%;
  height: 70%;
  background: #222;
  right: 0px;
  top: 6px;
  z-index:999;
  display: block;
  color: #fff;
  pointer-events: none;
}

.top-bar{
  position: static;
  height: 10%;
  width: 100%;
}

.bottom-bar {
  position: static;
  height: 10%;
  width: 100%;
}

.body {
  position: static;
  height: 80%;
  width: 100%;
}

.fas {
  color: white;
  font-size: x-large;
}
</style>
