<template>
<div id='register' class='container h-100'>
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="col-md-5">
      <form role="form" method="post">
        <fieldset>							
          <h2 class="text-uppercase pull-center">SIGN UP</h2>	
          <div class="form-group">
            <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Username">
          </div>
          <div class="form-group">
            <b-form-select v-model="selected" :options="options"></b-form-select>
          </div>
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
          </div>
          <div>
            <input type="submit" class="btn btn-lg btn-primary" value="Register">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
</template>

<script>
  export default {
    name: 'Register',
    data () {
      return {
        selected : 'null',
        options: [
          {value: 'null', text:'Please select your gender'},
          {value: 'male', text:'Male'},
          {value: 'female', text:'Female'},
          {value: 'other', text:'Other'},
        ],
        msg: 'Welcome to Your Vue.js App'
        }
      },
  }
</script>
