<template>
  <div id='userhomepage' class='container h-100'>
    <div class="d-flex">
      <h1>AudioBook</h1>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <b-form-select v-model="selected" :options="options"></b-form-select>
      <hr>
      <p>Search</p>
    </div>
    <div class="d-flex align-items-center justify-content-center h-100">
      <b-list-group>
        <b-list-group-item v-for="(book,index) in books" :key="index">
          <h2>{{book.title}}</h2>
          <h4>{{book.author}}</h4>
          <p>{{book.duration}}</p>
        </b-list-group-item>
      </b-list-group>
    </div>
    <Navbar />
  </div>
</template>

<script>
  import axios from 'axios';
  import Navbar from './Navbar.vue'

  export default {
    name: 'UserHomepage',
    components: {
      Navbar
    },
    data () {
      return {
        books: [],
        message: '',
        }
      },
    methods: {
      getBooks() {
        const path = 'http://183.91.11.56:5000/books';
        axios.get(path)
          .then((res) => {
            this.books = res.data.books;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
    },
    created() {
      this.getBooks();
    },
  }
</script>

<style scoped>
.b-list-group-item {
  border: none
}
</style>
