<template>
  <div id='menu' class='container-fluid'> 
    <div class="d-flex">
      <h1>AudioBook</h1>
    </div>  
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/addnewbook" class="container-fluid justify-content-between align-items-center">
          <div class="row">
            <div class='col'><i class="fas fa-plus-square"></i></div>
            <div class='col-8'>Add New Book</div>
            <div class='col'><i class="fas fa-angle-right"></i></div>
          </div>
        </a>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/addnewbook" class="container-fluid justify-content-between align-items-center">
          <div class="row">
            <div class='col'><i class="fas fa-book"></i></div>
            <div class='col-8'>Public Library</div>
            <div class='col'><i class="fas fa-angle-right"></i></div>
          </div>
        </a>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/addnewbook" class="container-fluid justify-content-between align-items-center">
          <div class="row">
            <div class='col'><i class="fas fa-heart"></i></div>
            <div class='col-8'>My Library</div>
            <div class='col'><i class="fas fa-angle-right"></i></div>
          </div>
        </a>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/addnewbook" class="container-fluid justify-content-between align-items-center">
          <div class="row">
            <div class='col'><i class="fas fa-clock"></i></div>
            <div class='col-8'>Recent Viewed</div>
            <div class='col'><i class="fas fa-angle-right"></i></div>
          </div>
        </a>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/addnewbook" class="container-fluid justify-content-between align-items-center">
          <div class="row">
            <div class='col'><i class="fas fa-download"></i></div>
            <div class='col-8'>Downloaded Books</div>
            <div class='col'><i class="fas fa-angle-right"></i></div>
          </div>
        </a>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/addnewbook" class="container-fluid justify-content-between align-items-center">
          <div class="row">
            <div class='col'><i class="fas fa-bookmark"></i></div>
            <div class='col-8'>Bookmark</div>
            <div class='col'><i class="fas fa-angle-right"></i></div>
          </div>
        </a>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/addnewbook" class="container-fluid justify-content-between align-items-center">
          <div class="row">
            <div class='col'><i class="fas fa-trash-alt"></i></div>
            <div class='col-8'>Deleted Books</div>
            <div class='col'><i class="fas fa-angle-right"></i></div>
          </div>
        </a>
      </li>
    </ul>
    <Navbar />
  </div>
</template>

<script>
  import Navbar from './Navbar.vue'

  export default {
    name: 'UserMenu',
    components: {
      Navbar
    },
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    },
  }
</script>

<style scoped>
.list-group-item{
  position: static;
  border: none;
  font-size: 1rem;
  width: 100%;
}
</style>
